<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">


    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_android"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        >

        <activity
            android:name="com.main.activities.PantallaPrincipal"
            android:label="@string/title_activity_activity_principal"
            android:parentActivityName="firstdream.rm.Main" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="firstdream.rm.Main" />
        </activity>

    </application>


</manifest>
