<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.activities"
    xmlns:tools="http://schemas.android.com/tools"
    >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:theme="@style/AppTheme">

        <service
            android:name="com.services.notifications.ReceiverNotificationService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name="com.activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme"> <!--Aquí llamamos nuestro tema -->
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN"
                    android:launchMode="singleTask" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.activities.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name="com.activities.AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName="com.activities.MainActivity"
            android:theme="@android:style/Theme.Dialog">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.activities.MainActivity" />
        </activity>
    </application>

</manifest>

